{% extends 'Base.html' %}

{% block content %}

<section class="about-section py-5">
    <div class="container py-xl-5 py-sm-3">
        <h5 class="main-w3l-title mb-sm-4 mb-3">Vote Prediction</h5>
        <div class="modal-body">
            <div class="login p-md-5 p-4">
                <form method="post">
                    <div class="form-group">
                        <label for="VoteCode">Vote Code:</label>
                        <input type="text" class="form-control" id="VoteCode" name="VoteCode" required>
                    </div>
                    <div class="form-group">
                        <label for="VotedTime">Voted Time:</label>
                        <input type="text" class="form-control" id="VotedTime" name="VotedTime" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Predict</button>
                </form>
                {% if prediction %}
                <h2>Predicted Candidate: {{ prediction }}</h2>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
