{% extends 'Base.html' %}

{% block content %}

<section class="about-section py-5">
    <div class="container py-xl-5 py-sm-3">
       
        <div class="modal-body">
            <div class="login p-md-5 p-4">
               
                <h5 class="main-w3l-title mb-sm-4 mb-3">Vote Prediction</h5>
				
				asdasd	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda	asdasda
			
			 
		 
            </div>
        </div>
    </div>
</section>

{% endblock %}
